#runtime environment setup value CANNOT be empty, use 'placeholder'(if must force configure via other means) 
# or comment them out or use 'None' as nothing but keep the key(equivalent of empty, empty is not allowed)
option_settings:
  - option_name: GOOGLE_CLOUD_PROJECT
    value: None
  - option_name: ODBC_CONNECTION_STRING
    value: None
  - option_name: ODBC_CONNECTION_CREDENTIAL
    value: None
  - option_name: SQLALCHEMY_URL
    value: None  
  - option_name: MARIADB_KEY_LOCATION
    value: None
  - option_name: NODE_ENV
    value: production
  - option_name: PORT
    value: 8000  
  - option_name: FLASK_SECRET_KEY
    value: None
  - option_name: REDIS_URL
    value: None      
  - option_name: API_HOST
    value: None 
  - option_name: EFS_MOUNT_TARGET_IP
    value: None 
  - option_name: EFS_MOUNT_DIRECTORY
    value: /mnt/efs
  - option_name: CERT_TYPE
    value: None      
  - option_name: CERT_DOMAIN
    value: None 
  - option_name: CERT_EMAIL
    value: None 
  - option_name: IPFS_API_URL
    value: None 
  - option_name: IPFS_API_CREDENTIAL
    value: None 
  - option_name: IPFS_BASE_URL
    value: https://ipfs.io/ipfs 
  - option_name: WEB3_RPC_URL
    value: None 
  - option_name: NFT_TOKEN_ADDRESS
    value: None 
  - option_name: OAS_CHAINLINK_TOKEN_ADDRESS
    value: None 
  - option_name: PYTORCH_URL
    value: http://172.31.20.20/torchserve/predictions
  - option_name: PYTORCH_ID_URL
    value: http://172.31.20.20/torchserve/predictions/densenet161
  - option_name: PYTORCH_MATCH_URL
    value: http://172.31.20.20/torchserve/predictions/image_dissimilarity     
  - option_name: OAS_STACKS_RPC_URL
    value: http://172.31.20.20/stacks/json-rpc
  - option_name: OAS_STACKS_NFT_CONTRACT
    value: ST3KG5NBY7ABBT1879Q0MCPK3M7YJZHFWJBF9KHKY.Artie         