<?xml version="1.0" encoding="utf-8"?>
<!--
This template is configured to use Python 3.5 on Azure App Service. To use a different version of Python,
or to use a hosting service other than Azure, replace the scriptProcessor path below with the path given
to you by wfastcgi-enable or your provider.

For Python 2.7 on Azure App Service, the path is "D:\home\Python27\python.exe|D:\home\Python27\wfastcgi.py"

The WSGI_HANDLER variable should be an importable variable or function (if followed by '()') that returns
your WSGI object.

See https://aka.ms/PythonOnAppService for more information.
-->
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="runserver.app" />
    <add key="PYTHONPATH" value="" />
    <add key="SCRIPT_NAME" value="flask" />
    <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="WSGI_LOG" value="D:\oas\oas-api\wfastcgi.log" />
    <!--below are app specific, not related to wfastcgi, may be defined seperate -->
    <!--<add key="ODBC_CONNECTION_STRING" value="DRIVER={ODBC Driver 17 for SQL Server};SERVER=db;PORT=1433;DATABASE=OASDesign;" />
    <add key="ODBC_CONNECTION_CREDENTIAL" value="UID=sa;PWD=password;" />-->
    <add key="ODBC_CONNECTION_STRING" value="DRIVER={MARIADB ODBC 3.1 Driver}; Server=db; Port=3306; Database=oas; sslca=d:\oas\oas-api\mariadb-ca.pem; sslcert=d:\oas\oas-api\mariadb-cert.pem;sslkey=d:\oas\oas-api\mariadb-key.pem;sslverify=0;" />
    <add key="ODBC_CONNECTION_CREDENTIAL" value="UID=root;PWD=password;" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\OAS\oas-api\env\Scripts\python.exe|D:\OAS\oas-api\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20000000" />
      </requestFiltering>
    </security>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="ASP" verbosity="Verbose" />
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
                        <add provider="ISAPI Extension" verbosity="Verbose" />
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,RequestRouting,ANCM" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="500" />
                </add>
            </traceFailedRequests>
        </tracing>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="GET, HEAD, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Origin, Access-Control-Allow-Origin, Content-Type,Accept-Encoding, Accept,Authorization,X-RintagiScope,X-Authorization,X-username,X-password" />
        <add name="Access-Control-Max-Age" value="86400" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
            <rules>
                <rule name="TestLocalProxy" stopProcessing="true">
                    <match url="_/?(.*)" />
                    <action type="Rewrite" url="http://localhost:8000/{R:1}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="Off">
    </customErrors>
  </system.web>
</configuration>